header {
  background-color: #4E4CB5;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 90%;
  max-width: 980px;
  
  margin: auto;
}

header a {
  text-decoration: none;
  text-transform: uppercase;
  color: #BFC1C8;
  margin-left: 20px;
  padding: 20px 0;
  font-weight: 500;
  font-size: 1.8rem;
  transition: background-color 0.2s;
  cursor: pointer;
}

header a:hover {
  color: #dfe1e7;
}

header h1 {
  color: #EFF0F6;
  font-weight: 700;
  font-size: 2.0rem;
  margin-left: 20px;
  padding: 20px 0;
}


@media (max-width: 490px) {
  header a {
    display: none;
  }

  header {
    width: 100%;
  }

  header .container{
    justify-content: center;
  }

  header h1 {
    font-size: 2.4rem;
  }
}