main {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .me-container h1{
  color: #4E4CB5;
  font-weight: 500;
  margin-bottom: 0px;
  font-size: 38px;
}

main .me-container .loh {
  font-weight: 700;
}

main .me-container p {
  color: #3A3C40;
  max-width: 600px;
  font-size: 24px;
  line-height: 42px;
  margin-top: 10px;
}

main .me-container {
  margin-top: 15px;
}

main .buttons-container {
  display: flex;
  flex-direction: column;
  margin-right: 35px;
}

main .buttons-container a {
  width: 64px;
  height: 64px;
  background: #4E4CB5;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
  cursor: pointer;
}

main .buttons-container a:hover {
  background: #6967bd;
}

main .all {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 180px;
}
footer {
  margin-bottom: 0;
}

footer {
  position: absolute;
  bottom: 5px;
  width: 100%;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  color: #3A3C40;
}

@media (max-width: 714px) {
  main .buttons-container {
    width: 300px;
    flex-direction: row;
    margin-right: 0;
    justify-content: space-between;
    order: 3;
    margin-top: 45px;
  }

  main .all {
    flex-direction: column;
  }

  footer {
    position: relative;
    margin-top: 100px;
  }

  footer p {
    font-size: 8px;
  }
}

@media (max-width: 615px) {
  main .me-container h1{
    font-size: 24px;
    padding: 0 20px;
  }
  
  main .me-container p {
    color: #3A3C40;
    max-width: 600px;
    font-size: 18px;
    padding: 0 20px;
    line-height: 32px;
  }

  main .buttons-container {
    width: 250px;
  }

  footer {
    position: relative;
    margin-top: 100px;
  }

  footer p {
    font-size: 8px;
  }
}

@media (max-width: 320px) {
  main .buttons-container a {
    width: 52px;
    height: 52px;
  }

  main .buttons-container {
    width: 200px;
  }

  main .me-container h1{
    font-size: 20px;
  }
  
  main .me-container p {
    color: #3A3C40;
    max-width: 600px;
    font-size: 14px;
    line-height: 32px;
  }

  footer {
    position: relative;
    margin-bottom: 100px;
  }

  footer p {
    font-size: 8px;
  }
}
